/* ----------------------------------------------------------------------------
 * Global Text Formatting
 * ------------------------------------------------------------------------- */
body, html {
  font-weight: $regular;
  color: $brand-second;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
}

p {
  font-size: 1.125em;
  line-height: 1.9em;
  margin-bottom: 1.4em;
  margin-top: 0;
  word-wrap: break-word;
}

h1 {
  font-weight: $bold;
  @media (max-width: 320px) {
    font-size: 2rem;
  }
}

h2, h3 {
  font-weight: $regular;
}

p {
  font-weight: $regular;
  @media (max-width: 320px) {
    word-break: break-word;
  }
}

a {
  &:hover {
    text-decoration: none;
  }
}

.md-h2 {
  font-size: 5.75em;
  letter-spacing: -2px;
  font-weight: 800;

  @media (max-width: 767px) {
    font-size: 2.5em;
  }
}

.pr-6 {

  @media (min-width: 768px) {
    padding-right: 40px;
  }
}

.back-dark {
  background-color: rgba(61, 59, 59, 0.87);
}

/* ----------------------------------------------------------------------------
 * Buttons
 * ------------------------------------------------------------------------- */
.main-btn {

  background-color: $brand-primary;
  padding: 15px 20px;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 800;
  transition: .5s ease;
  font-size: 1em;
  color: $w;
  font-size: 1em;

  @media (min-width: 768px) {
    padding: 20px 30px;
    font-size: 1.3em;
  }

  &:hover,
  &:active,
  &:focus {
    background-color: transparent;
    padding: 28px 50px;
    margin-top: -12px;
    margin-bottom: -12px;
    border: 2px solid $w;
    box-shadow: none;
    color: $w;

    @media (max-width: 767px) {
      padding: 17px 23px;
    }
  }
}

.intro-hd {

  line-height: 1.3;

  @media (min-width: 768px) {
    font-size: 2.25em;
  }
}

input#gform_submit_button_1 {
  border: none;
  background-color: $brand-primary;
  padding: 10px 20px;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 800;

  &:hover,
  &:active,
  &:focus {
    transition: .6s ease;
    color: $brand-second;
    background-color: $w;
    cursor: pointer;
  }
}



