/* =========================================================================

404

========================================================================== */
.error404  {
  background-color: #eee;
  margin-top: 100px;
  .sidebar, header {
    display: none !important;
  }
}