/* =========================================================================

Header

========================================================================== */
header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100%;
  padding-top: 50px;
}

.main-nav {
  list-style: none;
  padding-left: 0;
  a {
    color: $w;
    font-weight: $bold;
    text-transform: uppercase;
    &:hover {
      color: $brand-primary;
    }
  }
}

/* =========================================================================

Mobile Side Nav

========================================================================== */
.sidebar {
  position: fixed;
  width: 220px;
  height: 100%;
  background-color: $brand-second;
}

.content {
  flex: 1;
  background: #eee;
  transform: translate3d(0, 0, 0);
  transition: transform .3s;
}

.content.isOpen {
  transform: translate3d(220px, 0, 0);
}

.mobile-button.nav-but {
  position: absolute;
  top: 0;
  font-size: 26px;
  padding: 15px 0 0 15px;

  .fas {
    color: $w;
  }

  &:hover {
    cursor: pointer;
  }
}

/* Navigation */
.side-nav {
  list-style: none;
  padding-left: 0;
  li a {
    position: relative;
    display: block;
    padding: 20px 0 20px 50px;
    font-size: 12px;
    color: #eee;
    &:before {
      position: absolute;
      top: 19px;
      left: 20px;
    }
  }
}

.side-nav li a.active {
  box-shadow: inset 5px 0 0 #5b5, inset 6px 0 0 #222;
  background: #444;
}
