/* =========================================================================

Top

========================================================================== */

.top-background {
  height: 70vh;
  color: $w;
  background: linear-gradient(
                  rgba(0, 0, 0, 0.6),
                  rgba(0, 0, 0, 0.6)
  ),
  url("/wp-content/themes/base/assets/images/hero.jpg");

  background-size: cover;

  @media (min-width: 768px) {
    height: 100vh;
  }

  p {
    font-size: 1em;
    font-weight: 200;
    margin-bottom: 2.5rem;

    @media (min-width: 768px) {
      font-size: 1.5em;
    }
  }
}

.headline-top {

  font-size: 3.5em;
  letter-spacing: -2px;
  line-height: .9em;

  @media (min-width: 768px) {
    font-size: 6em;
  }

  @media (min-width: 992px) {
    font-size: 7em;
  }
}

.headline-lower {
  font-size: 1.5em;
  letter-spacing: -2px;
  font-weight: 200;

  @media (min-width: 992px) {
    font-size: 3em;
  }
}

/* =========================================================================

Portfolio

========================================================================== */
#scroll-portfolio {
  padding: 80px 0;

  @media (max-width: 767px) {

    padding: 50px 0;
  }
}

.project-item-inner {
  position: relative;

  .project-name {
    color: $w;
    background-color: $brand-second;
  }

  p {
    font-weight: 600;
  }

  .project-dev {
    color: $w;
    font-weight: 600;
  }

  .overlay {
    opacity: 0;
    background-color: $brand-primary;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }

  .project-name-overlay {
    font-size: 1.4em;
    color: $brand-second;
  }

  @media (min-width: 1025px) {
    &:hover {
      .overlay {
        opacity: 1;
        transition: .7s ease;
      }
    }
  }
}

/* =========================================================================

Services

========================================================================== */
#scroll-services {
  padding: 80px 0;
  background-color: #e0dcdc;
  box-shadow: inset 0 1px 3px rgba(129, 129, 129, .24), inset 0 -1px 3px rgba(129, 129, 129, .24);

  h4 {
    font-weight: 700;
  }
  .fas {
    color: $brand-primary;
    float: right;
    font-size: 50px;
    padding-left: 1rem;
    margin-right: 1rem;

    @media (min-width: 768px) {
      font-size: 70px;
    }
  }

  @media (max-width: 767px) {
    padding: 50px 0;
  }
}

/* =========================================================================

Testimonials

========================================================================== */
#scroll-testimonials {
  padding: 80px 0;

  h4 {
    font-weight: 600;
  }

  .carousel-control-next-icon,
  .carousel-control-prev-icon {
    background: none;
  }

  .fas {
    color: $brand-second;
    font-size: 4em;
    font-weight: bold;
  }

  .carousel-indicators {
    bottom: -20px;
  }
  li {
    background-color: $brand-second;
  }
  .carousel-indicators .active {
    background-color: $brand-primary;
  }

  .carousel-control-prev {
    left: -20%;

    @media (max-width: 1500px) {
      display: none;
    }
  }

  .carousel-control-next {
    right: -15%;

    @media (max-width: 1500px) {
      display: none;
    }
  }

  @media (max-width: 767px) {
    padding: 50px 0;
  }

}

/* =========================================================================

Contact

========================================================================== */
#scroll-contact {
  padding: 80px 0;
  color: $w;
  background-color: $brand-second;

  ul {
    padding-left: 0;
    list-style: none;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    input {
      width: 100%;
      padding: 9px;
      margin-bottom: 20px;
    }

    textarea {
      width: 100%;
    }

    label {
      font-weight: bold;
    }
  }

  .fab {
    font-size: 1.5em;
    color: $brand-primary;
    &:hover,
    &:focus,
    &:active {
      color: $w;
    }
  }

  @media (max-width: 767px) {
    padding: 50px 0;
  }
}