/* ----------------------------------------------------------------------------
 * Colors
 * ------------------------------------------------------------------------- */
$brand-primary: #2bb5cf;
$brand-second: #08232e;
$w: #ffffff;


/* ----------------------------------------------------------------------------
 * Fonts
 * ------------------------------------------------------------------------- */
$regular: 400;
$bold: 800;

